<%- include("templates/header") %> 
<h3 class="display-6 fw-normal">Users</h3>	
    <ul style="list-style-type: none">
        <% let i=0; %>
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/user', {user: users[i]})  %> 
        <% } %> 
    </ul>
<%- include("templates/footer") %> 