<%- include("templates/header") %> 
<h3 class="display-6 fw-normal"><p>Hello, <%= name %>.</p></h3>	
	<div class="row mb-3 text-center">
		<div class="col-md-4 themed-grid-col">
			<img class="img-fluid" src="/image1.jpg" alt="Izzy1">
		</div>
		<div class="col-md-4 themed-grid-col">
			<img class="img-fluid" src="/image2.jpg" alt="Izzy2">
		</div>
		<div class="col-md-4 themed-grid-col">
			<img class="img-fluid" src="/image3.jpg" alt="Izzy3">
		</div>
	  </div>
	  <a href="/logout">Log out</a>
<%- include("templates/footer") %>
